
.header {
	background: #387aff;
	height: 90px;
}
.header_con {
	width: 1240px;
	margin: 0 auto;
}
.header_con .ant-menu-horizontal .ant-menu-item a {
	color: rgba(0,0,0,0.65);
	font-size: 14px;
}
.header_con .ant-menu-horizontal .ant-menu-item-selected a{
	color: #fff;
}

.logo {
	font-size: 44px;
	color: #fff;
}
.account_dropdown {
	border-radius: 3px;
}
.account_dropdown a {
	font-size: 14px;
}
.account {
	height: 90px;
	line-height: 90px;
}
.account img {
	vertical-align: middle;
	border-radius: 42px;
	margin-right: 10px;
}
.header_con h1 {
	height: 90px;
}
.header .ant-menu-horizontal > .ant-menu-item-active,
.header .header .ant-menu-horizontal > .ant-menu-submenu-active,
.header .ant-menu-horizontal > .ant-menu-item-selected,
.header .ant-menu-horizontal > .ant-menu-submenu-selected {
	border-bottom: 0;
}

.header .ant-menu-item,
.header .ant-menu-submenu,
.header .ant-menu-submenu-title,
.ant-tabs-nav .ant-tabs-tab-inner {
	transition: initial;
	-webkit-transition: initial;
	padding: 8px 0;
}